<nav class="navbar navbar-expand-lg bg-dark heading">
  <a
    class="navbar-brand"
    routerLinkActive="highlight"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['']"
    >Home</a
  >
  <a class="nav-link" routerLinkActive="highlight" [routerLink]="['movies']"
    >movies</a
  >

  <a class="nav-link" routerLinkActive="highlight" [routerLink]="['posts']"
    >Posts</a
  >
  <a class="nav-link" routerLinkActive="highlight" [routerLink]="['series']"
    >series</a
  >
  <div class="input-group searchInput">
    <input
      type="text"
      class="form-control"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      [(ngModel)]="searchItem"
    />

    <button
      (click)="search()"
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>
  <button class="btn btn-outline-primary" (click)="login()">Login</button>
  <a class="btn btn-outline-primary" [routerLink]="['signup']">Signup</a>
  <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
</nav>
