<div class="container">
  <div class="row">
    <form class="create-user" (ngSubmit)="createPost()" #movieForm="ngForm">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          aria-describedby="name"
          placeholder="Enter Title"
          ngModel
          name="title"
          required
          #title="ngModel"
          [ngClass]="{ 'invalid-input': title.touched }"
        />
        <label for="floatingInputGrid">Title</label>
        <span class="help-block" *ngIf="title.invalid && title.touched"
          >Please enter title</span
        >
      </div>

      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="floatingInputGrid"
          aria-describedby="rating"
          placeholder="Enter rating"
          ngModel
          name="rating"
          required
        />
        <label for="floatingInputGrid">rating</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          aria-describedby="genre"
          placeholder="Enter genre"
          ngModel
          name="genre"
          required
        />
        <label for="floatingInputGrid">genre</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          aria-describedby="plot"
          placeholder="Enter plot"
          ngModel
          name="summary"
          required
        />
        <label for="floatingInputGrid">plot</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          aria-describedby="language"
          placeholder="Enter language"
          ngModel
          name="language"
          required
        />
        <label for="floatingInputGrid">language</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputValue"
          aria-describedby="country"
          placeholder="Enter country"
          ngModel
          name="country"
          required
        />
        <label for="floatingInputValue" for="country">country</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputValue"
          aria-describedby="picture"
          placeholder="Enter image url"
          ngModel
          name="picture"
          required
        />
        <label for="floatingInputValue" for="picture">Image url</label>
      </div>
      <div class="input-group">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!movieForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
