<div class="posts">
  <div class="post-list">
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Post</h5>
      </li>
      <li class="list-group-item" routerLinkActive="active text-highlight">
        <button (click)="createPost()" class="btn">
          Create <i class="fas fa-plus-circle"></i>
        </button>
      </li>

      <li
        *ngFor="let post of posts; let i = index"
        class="list-group-item"
        aria-current="true"
        (click)="goToPost(post.id)"
      >
        <a class="btn">
          {{ post.title }}
        </a>
      </li>
    </ul>
  </div>
  <div class="post">
    <router-outlet></router-outlet>
  </div>
</div>
