<div class="user">
  <img [src]="movie['picture']" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>

    <div class="user-details">
      <span class="bold">rating </span>{{ movie.rating }}
    </div>
    <div class="user-details">
      <span class="bold">language </span>{{ movie.language }}
    </div>
    <div class="user-details">
      <span class="bold">country </span>{{ movie.country }}
    </div>

    <div class="user-details">
      <span class="bold">plot </span> {{ movie.summary }}
    </div>
  </div>
</div>
